<div class="ticket" id=<%=ticket.ticketId%>>
  <div class="ticket-id" ><p><%=boardTicketPrefix%>-<%=ticket.ticketNumber%></p></div>
  <div class="ticket-assignee"><p><%=ticket.assignee%></p></div>
  <div class="ticket-edit-btn""><ion-icon  name="create-outline"></ion-icon></div>
  <div class="ticket-title"><p><%=ticket.title%></p></div>
</div>
